@import url('https://fonts.googleapis.com/css?family=Anton|Heebo:400,500,700,800,900|Roboto:400,400i,700,700i,900,900i');

@import url("https://use.fontawesome.com/releases/v5.8.1/css/all.css");

/* styles for blog and about us */

.card {
    margin-right: 3em;
    margin-top: 1.5ch;
}

.related-articles {
    border-top: solid darkgray 1px;
}

.header-top {
    background-color: rgba(139, 155, 149, 0.479);
    /* background:url(../images/live-header.jpg); */
    padding: 2em;
    margin-bottom: 1.5ch;
    text-align: center;
}

.header-card {
    background-color: rgba(176, 252, 224, 0.479);
    background:url(../images/live-header.jpg);
    padding: 2em;
    margin-bottom: 1.5ch;
    text-align: center;
}

.footer-text {
    background-color: rgba(139, 155, 149, 0.479);
    /* background:url(../images/live-header.jpg); */
    padding: 2em;
    text-align: center;
}

.main {
    width: calc(65% - 5px);
    margin: 3ch;
}

.article {
    border-bottom: solid darkgray 2px;
    margin-top: 1.5ch;
    padding: 1.5ch;
    text-align: justify;
}

.aside {
    width: 30%;
    margin-top: 10px;
    padding: 1.5ch;
    text-align: justify;
}

.aside-header {
padding: 1.5ch;
margin: 1ch;
background-color:rgba(139, 155, 149, 0.479);
border-radius: 15px;
text-align: center;
}

.btn-primary {
    background-color: darkgrey;
}


.article h5,
h6 {
    text-align: center;
}

.article-three-img {
    width: 100%;
}

img {
    max-width: 100%;
    border-radius: 15px;
}

.clearfix {
    content: ".";
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
}

.gallery .gallery-img {
    margin: 5px 65px;
}

.aside-img {
    margin: 2ch;
}

.related-articles h5 {
    text-align: center;
}
.fa-paw i {
    align-items: justify;
  margin: 0 auto;
}