@import url('https://fonts.googleapis.com/css?family=Anton|Heebo:400,500,700,800,900|Roboto:400,400i,700,700i,900,900i');

@import url("https://use.fontawesome.com/releases/v5.8.1/css/all.css");

/* styles for projects */

.card {
    margin-right: 3em;
    margin-top: 1.5ch;
}
/* 
.related-articles {
    border-top: solid darkgray 1px;
} */

.header-top {
    background-color: rgba(139, 155, 149, 0.479);
    /* background:url(../images/live-header.jpg); */
    padding: 2em;
    margin-bottom: 1.5ch;
    margin-left: 2ch;
    margin-right: 2ch;
    text-align: center;
}

.header-card {
    background-color: rgba(176, 252, 224, 0.479);
    background:url(../images/live-header.jpg);
    padding: 2em;
    margin-bottom: 1.5ch;
    text-align: center;
}

.footer-text {
    background-color: rgba(139, 155, 149, 0.479);
    /* background:url(../images/live-header.jpg); */
    padding: 2em;
    font-family: 'Anton', sans-serif;
    text-align: center;
}


.article {
    float: left;
    width: 30%;
    border-bottom: solid darkgray 2px;
    margin-top: 1.5ch;
    margin-left: 1.5ch;
    margin-right: 1.5ch;
    margin-bottom: 1.5ch;
     padding: 1em;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    background-color:aliceblue;
    border-radius: 5%;
}

/* .aside {
    width: 30%;
    margin-top: 10px;
    margin-right: 1.5ch;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    padding: 0.8ch;
    text-align: justify;
}

.aside-header {
padding: 1.5ch;
margin: 1ch;
background-color:rgba(139, 155, 149, 0.479);
border-radius: 15px;
text-align: center;
}  */

.btn-primary {
    background-color: darkgrey;
}


.article h5,
h6 {
    text-align: center;
    font-family:  'Roboto', sans-serif;
    font-weight: 700;
    font-style: italic;
   
   
    
}

.article-three-img {
    width: 100%;
}

img {
    max-width: 100%;
    border-radius: 15px;
}

.clearfix {
    content: ".";
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
}

.gallery .gallery-img {
    margin: 5px 65px;
}

.aside-img {
    margin: 2ch;
}

.related-articles h5 {
    text-align: center;
}
.fa-paw i {
    align-items: justify;
  margin: 0 auto;
}

.footer-socials a {
    display: inline-block;
   } 


@media screen and (max-width: 1050px) {

    .article {
        width: 100%;

    }

        }


}
