@import url('https://fonts.googleapis.com/css?family=Anton|Heebo:400,500,700,800,900|Roboto:400,400i,700,700i,900,900i');

@import url("https://use.fontawesome.com/releases/v5.8.1/css/all.css");

/* THIS OPTION DOES NOT WORK FOR SOME REASON */ /*  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

<link href="https://fonts.googleapis.com/css?family=Anton|Heebo:400,500,700,800,900|Roboto:400,400i,700,700i,900,900i" rel="stylesheet"> */
/*
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    box-sizing: border-box !important;
}

html {
    font-size: 1,5em;
    background-color: blue;
}

body {
font-family: 'Roboto', sans-serif;
font-size: 0,85em;
line-height: normal;
}

h1 {
    font-family: 'Anton', sans-serif;
    font-size: 2.5em;
    color: brown;
}

h2 {
    font-family: 'Anton', sans-serif;
    font-size: 2em;
    color: brown;
}

p {font-family: 'Anton', sans-serif;
    font-size: 1.5em
    ;
    color: brown;
}

.back-top, .footer-socials {
    font-family: 'Anton', sans-serif;
    font-size: 2em;
    font-family: cursive;
    background: grey;
    position: relative;
}

a, a:hover, a:focus, a:active, a.active {
	outline: 0;
    text-decoration: none;
   
} .card-body {
    background-color: rgb(180, 219, 206);
*/
.card {
    margin-right: 3em;
}
.card-body {
    /*background-color: rgba(181, 240, 220, 0.479);*/
    background:url(../images/live-header.jpg);
    padding: 2em;
    }

.card-title, .card-text, .card-link {
text-align: left;
font-family: 'Anton', sans-serif;
 color: dimgray;   
}

.fa-youtube, .fa-facebook, .fa-twitter, .fa-arrow-alt-circle-up, .fa-arrow-up, .fa-video {
    color:  darkgrey;
}
.btn-primary {
    background-color: darkgray;
}
.footer-down h5 {
    padding-top: 0.4em;
    text-align: center;
}

.footer-down p {
    text-align: center;
}

.donate-one {
    float: left;
}

body{ /* background image attachment and fix */
       
    background-image:url(../images/water_PNG3271.png);
    background-size: cover; 
    background-attachment:fixed; 
    height: 70vh;
    width: 100%;
} 
